﻿@{
    ViewBag.Title = "About";
}
<div ng-controller="mc">
        <h3>Table of WareHouse</h3>
        <div id="grid2" ui-grid="gridOptions" ui-grid-pagination class="myGrid">
            <p>{{ gridApi2.pagination.getPage() }}  {{ gridApi2.pagination.getTotalPages() }}</p>
        </div>
        <a href="" ng-click="showAlertDetails()" class="btn btn-default">Add product</a>
</div>

@section scripts{
    <script type="text/ng-template" id="addWarh">
        <form name="Form" method="post">
            @Html.AntiForgeryToken()
            <div class="ngdialog-message">
                <h3>Add Warehouse</h3>
                <h3>@ViewBag.Error</h3>
                <label>ProductId</label>
                <br />
                @*<input type="number" max="10000" min="0" name="ProductId" ng-model="WareHouse.ProductId" />*@
                @*<div ng-show="Form.ProductId.$invalid && Form.ProductId.$touched">
                    <h4 class="alert alert-danger" ng-show="Form.ProductId.$error.min">Число может быть только положительным!!</h4>
                    <h4 class="alert alert-danger" ng-show="Form.ProductId.$error.max">Число должно быть меньше 10000!</h4>
                </div>*@
                <div>
                    <select data-ng-model="WareHouse.ProductId">
                        <option ng-repeat="option in products" value="{{option.ProductId}}">
                        {{option.Title}}
                        </option>
                    </select>

                   
                </div>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeAll()">Close</button>
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(WareHouse)">Create</button>
            </div>
        </form>

    </script>


   

    <script type="text/ng-template" id="delWarh">
        <form name="Form">
            <div class="ngdialog-message">
                <h3>Delete this WareHouse??</h3>
                <label>WareHouseId</label>
                <br />
                <label>{{WareHouseId}}</label>
                <br />
                <label>ProductId</label>
                <br />
                <label>{{ProductId}}</label>
                <br />
                <label>AddingTime</label>
                <br />
                <label>{{AddingTime}}</label>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeAll()">Close</button>
                @*<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="deleteWareHouse(WareHouseId); closeAll()">Delete</button>*@
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(WareHouseId)">Delete</button>
            </div>
        </form>
    </script>
}