﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="crudcontroller">
    <h3>Table of products</h3>
    <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-edit  class="myGrid">
        <p>{{ gridApi2.pagination.getPage() }}  {{ gridApi2.pagination.getTotalPages() }}</p>
    </div>
    <a href="" ng-click="showAlertDetails()" class="btn btn-default">Add product</a>
    
</div>




    @section scripts{
        
<script type="text/ng-template" id="addProd">
    <form name="Form" method="post">
        @Html.AntiForgeryToken()
        <div class="ngdialog-message">
            <h3>Add product</h3>
            <h3>@ViewBag.Error</h3>
            <label>Title</label>
            <br />
            <input name="__RequestVerificationToken" type="hidden" value="........." />
            <input type="text" name="Title" ng-model="Product.Title" ng-maxlength="50" required />
            <div ng-show="Form.Title.$invalid && Form.Title.$touched">
                <h4 class="alert alert-danger" ng-show="Form.Title.$error.maxlength">Максимальная длинна - 50 символов!</h4>
                <h4 class="alert alert-danger" ng-show="Form.Title.$error.required">Обязательное поле!</h4>
            </div>
            <br />
            <label>Price</label>
            <br />
            <input type="number" max="10000" min="0" name="Price" ng-model="Product.Price" />
            <div ng-show="Form.Price.$invalid && Form.Price.$touched">
                <h4 class="alert alert-danger" ng-show="Form.Price.$error.min">Число может быть только положительным!!</h4>
                <h4 class="alert alert-danger" ng-show="Form.Price.$error.max">Число должно быть меньше 10000!</h4>
            </div>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeAll()">Close</button>
            @*<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="createProduct()">Create</button>*@
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(Product)">Create</button>
        </div>
    </form>

</script>


<script type="text/ng-template" id="getProd">
    <form name="Form">
        <div class="ngdialog-message">
            <h3>Edit products</h3>
            <label>Title</label>
            <br />
            <input type="text" name="Title" ng-model="$parent.Product.Title" ng-maxlength="50" required />
            <div ng-show="Form.Title.$invalid && Form.Title.$touched">
                <h4 class="alert alert-danger" ng-show="Form.Title.$error.maxlength">Максимальная длинна - 50 символов!</h4>
                <h4 class="alert alert-danger" ng-show="Form.Title.$error.required">Обязательное поле!</h4>
            </div>
            <br />
            <label>Price</label>
            <br />
            <input type="number" max="10000" min="0" name="Price" ng-model="$parent.Product.Price" />
            <div ng-show="Form.Price.$invalid && Form.Price.$touched">
                <h4 class="alert alert-danger" ng-show="Form.Price.$error.min">Число может быть только положительным!!</h4>
                <h4 class="alert alert-danger" ng-show="Form.Price.$error.max">Число должно быть меньше 10000!</h4>
            </div>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeAll()">Close</button>
            @*<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="updateProduct(); closeAll()">Edit</button>*@
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(Product)">Edit</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="delProd">
    <form name="Form">
        <div class="ngdialog-message">
            <h3>Delete this Product??</h3>
            <label>Title</label>
            <br />
            <label>{{$parent.Product.Title}}</label>
            <br />
            <label>Price</label>
            <br />
            <label>{{$parent.Product.Price}}</label>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeAll()">Close</button>
            @*<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="deleteProduct(ProductId); confirm(1)">Delete</button>*@
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(ProductId)">Delete</button>
        </div>
    </form>
</script>


<script type="text/ng-template" id="getSecion">
    <form name="Form">
        <div class="ngdialog-message">
            <h3>Product detail</h3>
            <h3 class="alert-danger">{{Error}}</h3>

            <label>Название:</label>
            <label>{{Title}}</label>
            <br />
            <label>Цена за 1 ед.:</label>
            <label>{{Price}}</label>
            <br />
            <label>Количество:</label>
            <label>{{Count}}</label>
            <br />
            <label>Общая стоимость:</label>
            <label>{{Total}}</label>

        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeAll()">Close</button>
        </div>
    </form>
</script>

    }

